/*********************************************************************/
/*株式会社 Stable Soft*/
/*********************************************************************/
.box0 {
    padding: 0.5em 1em;
    margin: 0;
    border: double 5px #4ec4d3;
    width: 200px;
    background: white;
}

.box0 p {
    margin: 0; 
    padding: 0;
}

/*********************************************************************/
/*会社理念*/
/*********************************************************************/
.box2 {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    width: 200px;

}

.box2 p {
    margin: 0; 
    padding: 0;
}

/*********************************************************************/
/*企業情報*/
/*********************************************************************/
.box3 {
    margin: 2em 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
    width: 230px;

}

.box3 .box-title {
    background: #000066;
    padding: 4px;
    text-align: left;
    color: #FFF;
    letter-spacing: 0.05em;
    
}

.box3 p {
    padding: 15px 20px;
    margin: 0;
}

/*********************************************************************/
/*企業情報(代表挨拶/会社情報)*/
/*********************************************************************/
.box4 {
    margin: 2em 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
    width: 230px;
    background: white;
 
}
.box4 p {
    padding: 15px 20px;
    margin: 0;
}

/*********************************************************************/
/*お問い合わせ*/
/*********************************************************************/
.box1 {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    width: 200px;
    
}

.box1 p {
    margin: 0; 
    padding: 0;
}

/*********************************************************************/
/*その他*/
/*********************************************************************/
.resizeimage img { 
  width: 100vw; 
}
  
.sample-box {
  position: absolute;
  
}